/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');*/

html, body{
	height: 100%;
	width: 100%;
	font-family: "Poppins", sans-serif;
	color: #222;
}


.nav-item, .nav-link {
	font-size: 14px !important;
	color: dimgrey;
}

.carousel-inner img {
	width: 100%;
	/*height: 100%;*/
}

.carousel-caption {
	/*position: absolute;
	top: 50%;
	transform: translateY(-50%);*/
	background-color: rgba(0,0,0,0.3);
}

.carousel-caption h1{
	font-size: 500%;
	text-shadow: 1px 1px 10px #000;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
	text-align: center;

}

.padding {
	padding-bottom: 2rem;
}

.padding2 {
	padding-top: 1rem;
}

.paddingBottom{
	margin-bottom: 0;
}

.welcome {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 50%;
	margin-top: .2rem;
	margin-bottom: 1rem;
}
.input-group {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 1rem;
}

.social a{
	font-size: 4.1em;
	padding: 2.5rem;
}

.fa-facebook{
	color: #3b5998;
}

/*.fa-envelope{
	color: red;
}*/

.fa-instagram{
	color: #517fa4;
}
.fa-git{
	color: #8c929d;
}

.fa-facebook:hover, .sivo:hover, .fa-instagram:hover, .fa-git:hover {
	color: #d5d5d5;
}




footer{
	background-color: #7a7a7a;
	color: #d5d5d5;
	padding-top: 2rem;
}

footer a {
	color: #d5d5d5;
}

hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

hr.light-cela{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

.thumbnail {
    width: 300px;
}

/*---Media Queries --*/

@media (min-width: 1200px) {
	.textAlign{
		padding-top: 60px;
	}
}

@media (max-width: 992px) {
	.social a{
		font-size: 4em;
		padding: 2rem;
	}
}
@media (max-width: 768px) {

	.carousel-caption h1{
		font-size: 340%;
		text-shadow: 1px 1px 10px #000;
	}
	.display-5 {
		font-size: 200%;
	}
	.social a{
		font-size: 2.5em;
		padding: 1.2rem;
	}

}
@media (max-width: 576px) {

}





/*---Firefox Bug Fix --*/
.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	/*transition: transform 0.5s ease, -webkit-transform 0.5s ease;*/
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0!important;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	/*background-image: url('img/mac.png');*/
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
	padding: 1rem;
}


.highlight {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	word-break: normal;
	white-space: nowrap;
	background-color: #e7e7e7;
	border: 0;
}

.hover:hover{
	border-color: #1c7430;
	background-color: #28a745;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








